<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupIdentifier</key>
	<string>$(APP_GROUP_ID)</string>
	<key>OpenMeteoAPIKey</key>
	<string>$(OPEN_METEO_API_KEY)</string>
	<key>CoinGeckoAPIKey</key>
	<string>$(COINGECKO_API_KEY)</string>
	<key>FinnhubAPIKey</key>
	<string>$(FINNHUB_API_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.dakrsnyk.tessera</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tessera</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
